[submodule "COSMAC/vendor/spdlog"]
	path = COSMAC/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "COSMAC/vendor/GLFW"]
	path = COSMAC/vendor/GLFW
	url = https://github.com/victor1778/glfw
[submodule "COSMAC/vendor/imgui"]
	path = COSMAC/vendor/imgui
	url = https://github.com/victor1778/imgui
